.header {
  width: 100%;
  height: 100px;
  background: yellow; }
  .header .total {
    font-size: 12px;
    padding: 10px; }
    .header .total .pay-wrap span {
      font-size: 30px;
      display: block; }
  .header .select-time {
    position: absolute;
    top: 10px;
    right: 10px; }
    .header .select-time span {
      border: 1px solid gray;
      border-radius: 10px;
      font-size: 12px;
      padding: 2px 10px; }

.mui-inner-wrap {
  display: flex;
  flex-direction: column; }
  .mui-inner-wrap .con-wrap {
    flex: 1;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; }

.con-title {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .con-title .tab-list {
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden; }
    .con-title .tab-list span {
      font-size: 12px;
      padding: 10px; }
      .con-title .tab-list span.active {
        background: yellow; }

.content {
  width: 100%;
  flex: 1; }
  .content .bill-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .content .bill-wrap .day-title {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      color: gray;
      font-size: 12px;
      width: 100%;
      height: 44px;
      line-height: 44px;
      background: #fff; }
    .content .bill-wrap .mui-slider-handle {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.m-title {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px; }
  .m-title span {
    display: block;
    font-size: 12px;
    text-align: center; }
  .m-title li:nth-child(1) span {
    display: inline-block; }

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
  padding-left: 15px; }

.aside {
  background: #fff;
  padding: 10px; }
  .aside h1 {
    font-size: 18px;
    border-left: 2px solid yellow;
    padding-left: 10px; }
  .aside ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .aside ul li {
      border: 1px solid gray;
      color: gray;
      padding: 2px 6px;
      margin-top: 10px;
      margin-right: 10px;
      border-radius: 10px;
      font-size: 12px; }
      .aside ul li.active {
        border-color: yellow; }

.go-bill {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 4px #000;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -40px;
  z-index: 99; }
  .go-bill .mui-icon {
    font-size: 80px; }

.y-bg {
  padding: 10px;
  border-radius: 50%;
  background: yellow; }
