.ipt-wrap{
	display: flex;
	padding:10px;
	border-bottom:1px solid gray;
	span{
		width:40px;
		height: 40px;
		border-radius: 50%;
		background: yellow;
		text-align: center;
		line-height: 40px;
	}
	
	input{
		flex:1;
		border:none;
		text-align: right;
		font-size:12px;
		margin-bottom:0;
	}
}

.icon-list{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	li{
		width:20%;
		span{
			width:40px;
			height: 40px;
			background: yellow;
			text-align: center;
			line-height: 40px;
			margin:10px auto;
			display: block;
			border-radius: 50%;
		}
	}
}

.save-btn{
	width:70%;
	height: 30px;
	background: yellow;
	color:#fff;
	position: absolute;
	bottom:40px;
	left:50%;
	margin-left:-35%;
}